@page "/payroll"
@rendermode InteractiveServer
@inject IHttpClientFactory ClientFactory
@inject IJSRuntime JS
@inject HttpClient Http
@inject NavigationManager Navigation
@inject ProtectedSessionStorage ProtectedSessionStore
@layout MainLayout
@inject ModalService ModalService

<PageTitle>Payslip</PageTitle>
<div class="container-center" style="width:80%; margin:auto;">
    <h1 class="mb-5"><strong>Employee Details</strong></h1>
    @if (employee != null)
    {
        <div class="row justify-content-center">
            <div class="col-5 col-md-3 bg-light border-bottom border-white border-3 mb-3">
                <div class="p-2"><strong>ID Number</strong></div>
            </div>
            <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3 mb-3">
                <div class="p-2">@employee.idNumber</div>
            </div>

            <div class="col-5 col-md-3 bg-light border-bottom border-white border-3 mb-3">
                <div class="p-2"><strong>First Name</strong></div>
            </div>
            <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3 mb-3">
                <div class="p-2">@employee.firstName</div>
            </div>

            <div class="col-5 col-md-3 bg-light border-bottom border-white border-3 mb-3">
                <div class="p-2"><strong>Last Name</strong></div>
            </div>
            <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3 mb-3">
                <div class="p-2">@employee.lastName</div>
            </div>

            <div class="col-5 col-md-3 bg-light border-bottom border-white border-3 mb-3">
                <div class="p-2"><strong>Middle Name</strong></div>
            </div>
            <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3 mb-3">
                <div class="p-2">@employee.middleName</div>
            </div>
        </div>
    }
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <p class="text-danger">@errorMessage</p>
    }
    @if (fiscalYearList != null)
    {
        <select class="form-select float-right" style="width:150px;" @onchange="OnFiscalYearChanged">
            <option value="" disabled selected>Select Year</option>
            @foreach (var year in fiscalYearList)
            {
                <option value="@year.FiscalYear">@year.FiscalYear</option>
            }
        </select>
        <br>
    }
        <table class="table table-striped" id='example1'>
            <thead style="position: sticky; top: 0; z-index: 1; margin: 30px 30px;">
                <tr>
                    <th class="text-center" style="width:200px;">TRANSACTION NO</th>
                    <th class="text-center">FISCAL YEAR</th>
                    <th class='text-center' style="width:300px;">DESCRIPTION</th>
                    <th class="text-center">PAYSLIP</th>
                </tr>
            </thead>
            <tbody style="font-size:12px; vertical-align: middle;" >
                @if (payrollData != null)
                {
                    @foreach (var payroll in payrollData)
                    {
                        <tr>
                            <td class="text-center">@payroll.PayrollId</td>
                            <td class="text-center">@payroll.FiscalYear</td>

                            <td style="width: 300px; text-align: justify;">
                                @payroll.PeriodDescription

                            </td>
                            <td class="text-center">
                                <button class="myButton" @onclick="() => OpenModal(payroll.PayrollId)">View Details...</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    <div class="modal fade" id="payrollModal" tabindex="-1" aria-labelledby="payrollModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        @if (payrollModel != null && employeeInfo != null)
                        {
                            <div class="col">
                                <h1 class="text-center" style="font-size: 30px;"><strong>Employee Details</strong></h1>
                                <hr style="width:80%; margin:auto;">
                                <br>
                                @if (employeeInfo != null)
                                {
                                <div class="col">
                                    <div class="row justify-content-center" style="width:90%; margin:auto;">
                                        <table class="table table-bordered bg-light">
                                            <tbody>
                                                @foreach (var info in employeeInfo)
                                                {
                                                    <tr>
                                                        <td><strong>Full Name</strong></td>
                                                        <td>@info.FullName</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Employee Number</strong></td>
                                                        <td>@info.EmployeeNumber</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Employee Position</strong></td>
                                                        <td>@info.EmployeePosition</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Salary</strong></td>
                                                        <td>@info.Salary?.ToString("N2")</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Day Absent</strong></td>
                                                        @if(@info.DayAbsent == 0) {
                                                            <td></td>
                                                        } else {
                                                            <td>@info.DayAbsent</td>
                                                        }
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Minute Absent</strong></td>
                                                        @if(@info.MinuteAbsent == 0) {
                                                            <td></td>
                                                        } else {
                                                            <td>@info.MinuteAbsent</td>
                                                        }
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Hour Absent</strong></td>
                                                        @if(@info.HourAbsent == 0) {
                                                            <td></td>
                                                        } else {
                                                            <td>@info.HourAbsent</td>
                                                        }
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Amount Earned</strong></td>
                                                        <td>@info.AmountEarned?.ToString("N2")</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Period Description</strong></td>
                                                        <td>@info.PeriodDescription</td>
                                                    </tr>
                                                     
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    </div>
                                }

                            </div>
                        }
                        @if (payrollModel != null && payslipDetails != null)
                        {
                            <div class="col">
                                <h1 class="text-center" style="font-size: 30px;"><strong>Payslip Details</strong></h1>
                                <hr style="width:80%; margin:auto;"><br>
                                <div class="row justify-content-center" style="width:90%; margin:auto;">
                                    <table class="table table-bordered bg-light">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Deductions</th>
                                                <th class="text-center">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var pay in payslipDetails)
                                            {
                                                <tr>
                                                    <td><strong>@pay.DeductionDescription</strong></td>
                                                    <td class="text-end">@pay.Amount?.ToString("N2")</td>
                                                </tr>
                                            }
                                           <tr>
                                                <td><strong>Total Deduction</strong></td>
                                                <td class="text-end text-danger">
                                                    <strong>
                                                    @{ var totalDeductions = payslipDetails.Sum(pay => pay.Amount ?? 0); }
                                                    ₱@totalDeductions.ToString("N2")
                                                    </strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Net Payslip</strong></td>
                                                @{
                                                    var employee = employeeInfo?.FirstOrDefault();
                                                    var payrollGroupId = employee?.PayrollGroupId;
                                                    var netPay = payrollGroupId != 0 ? employee?.NetPay : employee?.NetPay1;
                                                }
                                                <td class="text-end text-primary">
                                                <strong>₱@(netPay.HasValue ? netPay.Value.ToString("N2") : "0.00")</strong>
                                                
                                                </td>
                                            </tr>
                                          
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@code {
    [CascadingParameter] public NavMenu? Layout { get; set; }

    public class IdNumberConverter : JsonConverter<int?>
    {
        public override int? Read(ref Utf8JsonReader reader, Type typeToConvert, JsonSerializerOptions options)
        {
            if (reader.TokenType == JsonTokenType.String)
            {
                if (int.TryParse(reader.GetString(), out int result))
                {
                    return result;
                }
            }
            return null;
        }

        public override void Write(Utf8JsonWriter writer, int? value, JsonSerializerOptions options)
        {
            writer.WriteStringValue(value?.ToString());
        }
    }
    private int? userId;
    private Employee? employee;
    private List<Payroll>? payrollData;
    private List<FiscalYearList>? fiscalYearList = new List<FiscalYearList>();
    private List<PayslipDetails>? payslipDetails = new List<PayslipDetails>();
    private List<EmployeeInfo>? employeeInfo = new List<EmployeeInfo>();
    private PayrollModel? payrollModel;
    private int? fiscalYear = null;
    private int? PayrollId;
    private int? selectedFiscalYear = null;
    private string? errorMessage;
    private bool isInitialized = false;
    private bool isLoading = true;
    private bool showModal = false;

    public bool isLogout {get; set;}

    
    private async Task LoadUserIdFromSession()
    {
        try
        {
            var result = await ProtectedSessionStore.GetAsync<int?>("UserId");
            userId = result.Success ? result.Value : null;

            if (userId == null || userId == 0)
            {
                errorMessage = "User ID is not available or invalid in session storage.";
                isLoading = false;
            }
            else
            {
                errorMessage = null;
                
                await FetchEmployeeByID();
                await InitializeData();
                await JS.InvokeVoidAsync("initializeDataTable"); 
                 
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred while accessing session storage: {ex.Message}";
            isLoading = false;
        }
    }

    private async Task FetchEmployeeByID()
    {
        if (userId == null || userId == 0)
        {
            errorMessage = "Employee Not Found";
            return;
        }

        errorMessage = null;

        try
        {
            var handler = new HttpClientHandler()
            {
                ServerCertificateCustomValidationCallback = (sender, cert, chain, sslPolicyErrors) => true
            };

            var client = new HttpClient(handler);
            var response = await client.GetAsync($"https://10.125.1.6:7087/api/My/getemployeeinfo/{userId}");

            if (response.IsSuccessStatusCode)
            {
                var json = await response.Content.ReadAsStringAsync();
                var options = new JsonSerializerOptions
                {
                    Converters = { new IdNumberConverter() }
                };

                employee = JsonSerializer.Deserialize<Employee>(json, options);

                if (employee == null)
                {
                    errorMessage = "Unable to parse employee data.";
                }
            }
            else
            {
                errorMessage = "Failed to fetch employee details.";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred: {ex.Message}";
        }
    }

    private async Task InitializeData()
    {
        if (userId != null && userId > 0 && !isInitialized)
        {
            await GetFiscalYear();
            Console.WriteLine($"UserId: {userId}");

            if (selectedFiscalYear != null)
            {
                Console.WriteLine($"Selected Fiscal Year: {selectedFiscalYear}");
                await FetchPayrollByID(userId, selectedFiscalYear);
                
            }
            else
            {
                errorMessage = "Please select a fiscal year.";
            }

            isInitialized = true;
            isLoading = false;
            StateHasChanged();
        }
        else
        {
            errorMessage = "Invalid User ID or already initialized.";
            isLoading = false;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadUserIdFromSession(); 
 
    }

    private async Task GetFiscalYear()
    {
        try
        {
            var handler = new HttpClientHandler()
            {
                ServerCertificateCustomValidationCallback = (sender, cert, chain, sslPolicyErrors) => true
            };

            var client = new HttpClient(handler);
            var response = await client.GetAsync($"https://10.125.1.6:7087/api/my/GetPayrollYears");

            if (response.IsSuccessStatusCode)
            {
                var json = await response.Content.ReadAsStringAsync();
                fiscalYearList = JsonSerializer.Deserialize<List<FiscalYearList>>(json);

                if (fiscalYearList == null || fiscalYearList.Count == 0)
                {
                    errorMessage = "Unable to parse or empty fiscal years data.";
                }
            }
            else
            {
                errorMessage = $"Failed to load fiscal years data. Status code: {response.StatusCode}";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred: {ex.Message}";
        }
    }

    private async Task OnFiscalYearChanged(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out int year))
        {
            if (selectedFiscalYear != year)
            {
                selectedFiscalYear = year;
                Console.WriteLine($"Selected Fiscal Year Updated: {selectedFiscalYear}");

                await FetchPayrollByID(userId, selectedFiscalYear);
            }
        }
    }

    private async Task FetchPayrollByID(int? idNumber, int? selectedFiscalYear)
    {
        if (idNumber == null || idNumber == 0)
        {
            errorMessage = "Employee Not Found";
            return;
        }

        errorMessage = null;

        try
        {
            var handler = new HttpClientHandler()
            {
                ServerCertificateCustomValidationCallback = (sender, cert, chain, sslPolicyErrors) => true
            };

            var client = new HttpClient(handler);
            var response = await client.GetAsync($"https://10.125.1.6:7087/api/My/getpayrolllist/{idNumber}/{selectedFiscalYear}");

            if (response.IsSuccessStatusCode)
            {
                var json = await response.Content.ReadAsStringAsync();
                payrollData = JsonSerializer.Deserialize<List<Payroll>>(json);

                if (payrollData == null || payrollData.Count == 0)
                {
                    errorMessage = "No payroll data found for this employee.";
                }
            }
            else
            {
                errorMessage = "Failed to fetch payroll details.";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred: {ex.Message}";
        }
    }
    private async Task FetchPayrollDetail(int? payslipId, int? idNumber)
    {
        if (idNumber == null || idNumber == 0)
        {
            errorMessage = "Employee Not Found";
            return;
        }
        if (payslipId == null || payslipId == 0)
        {
            errorMessage = "Employee Not Found";
            return;
        }

        errorMessage = null;

        try
        {
            var handler = new HttpClientHandler()
            {
                ServerCertificateCustomValidationCallback = (sender, cert, chain, sslPolicyErrors) => true
            };

            var client = new HttpClient(handler);
            var response = await client.GetAsync($"https://10.125.1.6:7087/api/My/getpayslip/{payslipId}/{idNumber}");

            if (response.IsSuccessStatusCode)
            {
                var json = await response.Content.ReadAsStringAsync();
                payrollModel = JsonSerializer.Deserialize<PayrollModel>(json);
                employeeInfo = payrollModel?.EmployeeInfo;
                payslipDetails = payrollModel?.PayslipDetails;
                

            }
            else
            {
                errorMessage = "Failed to fetch payroll details.";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred: {ex.Message}";
        }
    }

    private async Task OpenModal(int? payslipId)
    {
        await FetchPayrollDetail(payslipId, userId);
        await Task.Delay(100);
        await JS.InvokeVoidAsync("showModal", "#payrollModal");
    }

    private async Task BackToEmployeePage()
    {
        await ProtectedSessionStore.DeleteAsync("UserId");

        Navigation.NavigateTo("/");
    }
}
<script src="site.js"></script>